@font-face {
    font-family: Cooper;
    src: url(assets/CooperHewitt-Book.otf);
}

@font-face {
    font-family: Nord;
    src: url(assets/Norse-Bold.otf);
}

:root {
    background-color: black;
    color: white;
    font-family: Cooper,'Times New Roman', Times, serif;
}

.mainImage {
    height: 97vh;
    width: 40%;
}

.containerSplitTwo{
    display: flex;
    flex: 0;
}

.signInDiv{
    display: flex;
    align-items: start;
    padding-left: 45px;
    font-size: large;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

input {
    border-radius: solid green;
}

input:invalid {
    border: 2px solid red;
}